* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root,
html,
body {

    overflow: hidden;
}

.outer-container {
    height: 100vh;
}
.column {
    display: flex;
    flex-direction: column;
}

.icon-container {
    width: 60px;
    height: 60px;
    display: flex;
}

.navigation {
    margin-top: 60px;
}

i {
    padding: 5px;
    width: 100vh;
    font-size: 20px;
 
    text-align: center;
}

li .navLink  {
    display: flex;
    color: #fff;
    margin:0px;
}

li .navLink {
    display: flex;
    border-radius: 5px;
    color: beige;
}
li .navLink i{
    width: 60px;
}
li {
    list-style-type: none;
    margin: 0px;
}

.navLink  {
    text-decoration: none;
    display: block;
    z-index: 5000;
}
li a{
    text-decoration: none;
}

.navigation ul li .navLink:hover {
    border-top: 20px;
    border-left: 0px solid azure;
    padding-right: 5px;
    background-color: rgb(79, 81, 114);
    text-decoration: none;
}

.navigation ul li:last-child {
    margin-top: auto;
}

li .navLink  span {
    align-self: center;
    font-size: 20px;
}
.active {
    border-left:6px solid #00848c;
    border-radius: 0px;
    color: white;
}

/*side*/
.side {
    width: 250px;
    background-color: rgb(59, 61, 88);
    height: 100vh;
    position: fixed;
}

.side-collapse {
    width: 60px;
}

.collapse {
    display: none;
}

.toggle-btn {
    width: 100%;
    background-color: rgb(59, 61, 88);
    border: none;
    outline-width: 0px;
    color: #fff;
}
.space-between{
    flex:1;
}
.add-btn {
    background-color: rgb(59, 61, 88);
    border: none;
    outline-width: 0px;
    color: #fff;
    height: 35px;
    min-width: 110px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 3px;
}
.search{
    height: 35px;
    margin-right: 15px;
    min-width: 110px;

}

/*main*/
.main {
    background-color: #dadada;
    flex: 1;
    height: 100vh;
    margin-left: 250px;
}

.main-max {
    margin-left: 60px;
}

.topbar {
    background-color: rgb(255, 255, 255);
    height: 50px;
    box-shadow: 0px 0px 3px black;
}

.topbar a:last-child {
    margin-left: auto;
    padding: 10px;
    font-size: 25px;
    color: grey;
    align-items: center;
}

.topbar h2 {
    padding: 10px;
    font-size: 25px;
}

.topbar a:last-child span {
    color: white;
    background-color: red;
    font-size: 15px;
    padding: 1px 3px;
    border-radius: 5px;
}

.topbar-nav {
    flex: 1;
    justify-content: center;
    color: rgb(218, 8, 8);
}

.topbar-nav li a {
    color: rgb(218, 8, 8);
}

.topbar-nav li a:hover {
    color: gold;
}

.main-content {
    flex: 1;
    margin: 15px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: rgb(223, 243, 243);
    position: relative;
    overflow-y: auto;
    z-index:10;
}

.toggle-button-small {
    display: none;
}
/*table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
   
}
th {
    background-color: #00848c;
    text-align: left;
    padding: 10px;
    position: sticky;
    top: 0;
}

td {

    text-align: left;
    padding: 8px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.action {
    display: flex;
}

.action-label {
    text-align: center;
}

.action button {
    border: none;
    padding: 2px;
    height: 100%;
    margin: 0 1px;
}

.action button:hover {
    background-color: rgb(223, 243, 243);
    border: 1px solid rgb(69, 168, 168);
    padding: 1px;
}

.action button:first-child {
    flex: 1;

    color: rgb(0, 60, 255);
    font-size: 15px;
}

.action button:last-child {
    flex: 1;
    font-size: 15px;
    color: rgb(243, 55, 65);
}


/*pagination*/
.pagination {
    display: inline-block;
    margin: auto 2px 2px 2px;
}

.page a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color .3s;
}
.next a{
    text-decoration: none;
    display: block;
    padding: 6px 6px;
}
.previous a{
    text-decoration: none;
    display: block;
    padding: 6px 6px;
}
.pagination .active {
    background-color: #00848c;
    color: white;
}

.page:hover:not(.active) {
    background-color: #ddd;
}
/*hider*/
.login{
  margin-left:0px;
}
.login-form{
    width:35%;
    margin:20px;
    padding:20px;
    border-radius:3px;
    background-color: #ececec;
}
/*responsiveness*/
@media only screen and (max-width: 768px) {
    .side {
        width: 100%;
        z-index: 500;
    }

    .side-collapse {
        display: none;
    }

    .profile {
        width: 100%;
        height: 150px;
    }

    .profile-picture {
        width: 100%;
    }

    .main {
        margin-left: 0px;

    }

    .topbar-nav {
        display: none;
    }

    .navigation {
        margin-top: 90px;
    }

    .toggle-button-small {
        display: block;
        background-color: rgb(255, 255, 255);
        height: 50px;
        width: 50px;
        font-size: 30px;
        color: black;
    }

    .main-content {
        overflow-x:scroll ;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .add-btn {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }

    table {
        min-width: 170%;
        z-index: -5000;
    }

    .add-container {
        display: none;
    }
    .login-form-sm{
        width:75%;
    }
    .table-sm{
        min-width: 100%;
    }
    .login-form{
        width:70%;
       
    }
    .search{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .login-form{
        width:90%;
       
    }
}
@media only screen and (max-width: 950px) {
    .login-form{
        width:70%;
       
    }
}